body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 218, 203);
  padding-top: 25px;
  color: rgb(94, 83, 83);
}
button {
  margin-right: 14px;
}
hr {
  color: rgb(30, 23, 20);
}

.search-bar {
  font-family: "Poppins", sans-serif;
}
.description {
  margin-top: -22px;
  margin-bottom: 40px;
  font-size: 20px;
}
.location {
  font-size: 80px;
  margin-top: 90px;
}
.date {
  font-size: 20px;
  margin-top: -20px;
}
.detail-text {
  font-size: 28px;
}
.more-details {
  margin-top: 40px;
  font-size: 20px;
}
.current-temperature {
  font-family: "Montserrat", sans-serif;
  margin-top: 86px;
  margin-left: 50px;
}
.day-container {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 3px;
  font-size: 20px;
  transition: all 2ms ease-in-out;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-container:hover {
  background-color: rgba(30, 23, 20, 0.3);
  font-size: 26px;
}
.main-picture {
  max-width: 40%;
}
.degrees {
  font-size: 110px;
}
.c-symbol {
  font-size: 25px;
  font-weight: 100;
}
.high-text {
  font-size: 18px;
  font-weight: 700;
  color: rgb(178, 86, 53);
}
.low-text {
  font-size: 18px;
  color: rgb(178, 86, 53);
  font-weight: 500;
}
.row {
  align-items: center;
}
.footer {
  font-family: "Gothic A1", sans-serif;
  color: rgb(112, 86, 75);
  text-align: center;
}
.footer:hover {
  color: rgb(203, 164, 148);
}
.bottom-page {
  background-color: rgb(213, 212, 208);
  padding: 70px;
  margin-top: 50px;
}
.tagline {
  font-size: 20px;
  font-weight: 100;
}
