body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 218, 203);
  padding-top: 25px;
  color: rgb(94, 83, 83);
}
button {
  margin-right: 14px;
}
hr {
  color: rgb(30, 23, 20);
}

.search-bar {
  font-family: "Poppins", sans-serif;
}
.description {
  margin-bottom: 40px;
  font-size: 26px;
  white-space: nowrap;
}
.description:first-letter {
  text-transform: capitalize;
}
.location {
  font-size: 80px;
  margin-top: 90px;
  color: rgb(178, 86, 53);
  white-space: nowrap;
}
.date {
  font-size: 20px;
  margin-top: -20px;
}

.detail-text {
  font-size: 28px;
}
.more-details {
  font-size: 20px;
  color: rgba(178, 86, 53, 0.7);
}
.current-temperature {
  font-family: "Montserrat", sans-serif;
  color: rgb(178, 86, 53);
  margin-top: 86px;
  margin-left: 50px;
}
.container {
  background: rgb(246, 246, 247);
  border-radius: 50px;
  padding: 30px 30px;
}
.search-button,
.current-button {
  background-color: rgb(190 164 153);
  border: 1px solid black;
}
.search-button:hover,
.current-button:hover {
  background-color: rgb(208, 182, 171);
  border: 1px solid black;
}
.day-container {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 0 3px;
  font-size: 20px;
  transition: all 2ms ease-in-out;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-container:hover {
  background-color: rgba(30, 23, 20, 0.3);
  font-size: 26px;
}

.degrees {
  font-size: 110px;
}
.c-symbol.f-symbol {
  font-size: 10px;
  font-weight: 100;
}
.active {
  color: rgb(94, 83, 83);
  text-decoration: none;
  cursor: default;
}
.active:hover {
  color: rgb(94, 83, 83);
  cursor: default;
}
.row {
  align-items: center;
}
.footer {
  font-family: "Gothic A1", sans-serif;
  color: rgb(112, 86, 75);
  text-align: center;
}
.footer:hover {
  color: rgb(203, 164, 148);
}
.bottom-page {
  background-color: rgba(213, 212, 208, 0.7);
  padding: 70px;
  margin-top: 50px;
}
.tagline {
  font-size: 20px;
  font-weight: 100;
}
